<html>

<head>
    <!-- ③ viewportを追加してスマホでも見やすくする -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <!-- ① CDNでCSSを読み込み -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css" rel="stylesheet">
    <style>
        .slide-fade-enter-active {
            animation: slide-fade-in 0.5s ease-out forwards;
        }

        .slide-fade-leave-active {
            animation: slide-fade-out 0.5s ease-out forwards;
        }

        @keyframes slide-fade-in {
            0% {
                transform: translateY(-20px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        @keyframes slide-fade-out {
            0% {
                transform: translateY(0);
                opacity: 1;
            }

            100% {
                transform: translateY(-20px);
                opacity: 0;
            }
        }
    </style>
</head>

<body>
    <!-- 開始ボタン -->
    <div id="camerastart_id" class="text-center pt-3">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-8 py-3 mr-1 rounded"
            onclick="fcamera_start()">
            カメラ起動
        </button>
    </div>

    <div id="app" hidden>
        <!-- ビデオ表示枠 -->
        <div ref="canvas-container" style="width:100%;margin:0 auto;">
            <div class="border-double border-4 bg-green-500 px-4 py-1 my-2 rounded w-fit text-white">Camera<i
                    class="fas fa-camera ml-2"></i></div>
            <canvas ref="canvas"></canvas>
        </div>
        <div class="text-center pt-3">
            <!-- ② Status によって表示ブロックを切り替える -->
            <!-- play： カメラの映像をキャンバスにリアルタイムで表示 -->
            <div v-if="status=='play'">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-8 py-3 rounded"
                    @click="takeSnapshot">
                    スナップショットを取る
                </button>
            </div>

            <div class="border-double border-4 bg-green-500 px-4 py-1 my-2 rounded w-fit flex justify-between items-center text-white"
                @click="activeCropSnapshot">
                <div>Snapshot Image<i class="fa fa-image ml-2"></i></div>
                <template v-if="snapshot">
                    <i v-if="openSnapshot" class="fa fa-sort-down"></i>
                    <i v-else class="fa fa-sort-up"></i>
                </template>
            </div>

            <transition name="slide-fade">
                <div v-if="openSnapshot">
                    <div v-show="snapshot">
                        <input type='range' v-model="scale" min='10' max='300' @input="scaling" style='width: 300px;'
                            class="mb-2 py-2">
                        <br>
                        <div class="flex justify-center">
                            <canvas ref="cvs" :height="SNAPSHOT_SIZE_Y" :width="SNAPSHOT_SIZE_X" @mousedown="startDrag"
                                @mousemove="dragging" @mouseup="endDrag" @mouseout="endDrag" @touchstart="startDrag"
                                @touchmove="dragging" @touchend="endDrag">
                            </canvas>
                        </div>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-8 py-3 mr-1 rounded mt-2" @click="cropImg">
                            Crop
                        </button>
                    </div>
                    <div v-show="snapshot === null">Not have snapshot image</div>
                </div>
            </transition>

            <div class="border-double border-4 bg-green-500 px-4 py-1 my-2 rounded w-fit text-left text-white">
                Cropped Image <i class="fa fa-square"></i>
            </div>
            <!-- pause： スナップショットを撮ったので一次停止 -->
            <div class="flex justify-center mb-2">
                <canvas ref='out' :width="SQUARE_SIZE" :height="SQUARE_SIZE"></canvas>
            </div>
            <div v-if="dataUrl" class="mt-2">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-8 py-3 mr-1 rounded"
                    @click="runOcr">
                    OCR変換
                </button>
                <button
                    class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 ml-1 border border-blue-500 hover:border-transparent rounded"
                    @click="back">
                    戻る
                </button>
            </div>
            <!-- pause： スナップショットをOCRにかけてテキストを取得 -->
            <div v-if="status=='reading'">
                読み取り中です...
            </div>
            <div id='result_str'></div>
        </div>
    </div>
    <!-- ① CDNでJavaScriptを読み込み -->
    <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.prod.js"></script>
    <!-- <script src='https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js'></script> -->
    <script src='https://unpkg.com/tesseract.js@v3.0.3/dist/tesseract.min.js'></script>
    <script>
        function fcamera_start() {
            //alert("fcamera_start");
            document.getElementById('app').hidden = false;
            document.getElementById('camerastart_id').hidden = true;
            focr();
            return false;
        }

        function focr() {
            //alert("focr()");
            Vue.createApp({
                data() {
                    return {
                        video: null,
                        canvas: null,
                        context: null,
                        dataUrl: '',
                        status: 'none',
                        //
                        scale: 100,
                        ix: 0,
                        iy: 0,
                        v: 1.0,
                        mouseDown: false,
                        sx: 0,
                        sy: 0,
                        //
                        snapshot: null,
                        SQUARE_SIZE: 250,
                        SNAPSHOT_SIZE_X: window.innerWidth - 100,
                        SNAPSHOT_SIZE_Y: 300,
                        //
                        openSnapshot: true,
                        storeX: 0,
                        storeY: 0,
                    }
                },
                methods: {
                    // ① カメラとキャンバスの準備
                    initialize() {
                        this.status = 'initialize';
                        navigator.mediaDevices.getUserMedia({
                            video: {
                                facingMode: {
                                    ideal: 'environment'
                                }
                            }
                        })
                            .then(stream => {
                                this.canvas = this.$refs.canvas;
                                this.context = this.canvas.getContext('2d');
                                this.video = document.createElement('video');
                                this.video.addEventListener('loadedmetadata', () => {           // メタデータが取得できるようになったら実行
                                    const canvasContainer = this.$refs['canvas-container'];
                                    this.canvas.width = canvasContainer.offsetWidth;
                                    this.canvas.height = parseInt(this.canvas.width * this.video.videoHeight / this.video.videoWidth);
                                    this.render();
                                    console.log("this.canvas.height", this.canvas.height);
                                    console.log("this.canvas.width", this.canvas.width);
                                });
                                // iOSのために以下３つの設定が必要
                                this.video.setAttribute('autoplay', '');
                                this.video.setAttribute('muted', '');
                                this.video.setAttribute('playsinline', '');
                                this.video.srcObject = stream;
                                this.playVideo();
                            })
                            .catch(error => console.log(error));
                    },
                    render() {
                        if (this.video.readyState === this.video.HAVE_ENOUGH_DATA) {
                            this.context.drawImage(this.video, 0, 0, this.canvas.width, this.canvas.height);
                        }

                        requestAnimationFrame(this.render);
                    },
                    runOcr() { // ③ スナップショットからテキストを抽出
                        this.status = 'reading';
                        Tesseract.recognize(this.dataUrl, 'jpn', {            //日本語変換　１が①になってしまう　20240629
                            // Tesseract.recognize(this.dataUrl, 'eng', {
                            logger: log => {
                                console.log(log);
                            }
                        })
                            .then(result => {
                                var data_str = result.data.text;
                                data_str = data_str                                             //--- 数字スペース変換 --------
                                    .replace(/①/g, "1")
                                    .replace(/②/g, "2")
                                    .replace(/③/g, "3")
                                    .replace(/④/g, "4")
                                    .replace(/⑤/g, "5")
                                    .replace(/⑥/g, "6")
                                    .replace(/⑦/g, "7")
                                    .replace(/⑧/g, "8")
                                    .replace(/⑨/g, "9")
                                    .replace(/⑳/g, "20")
                                    .replace(/[ 　]/g, "");
                                alert(data_str);
                                document.getElementById('result_str').innerHTML = data_str;       //データ修正
                            })
                            .catch(error => console.log(error))
                            .finally(() => {
                                this.playVideo();
                            });
                    },
                    playVideo() {
                        this.video.play();
                        this.status = 'play';
                    },
                    pauseVideo() {
                        this.video.pause();
                        this.status = 'pause';
                    },
                    takeSnapshot() { // ② スナップショットを取る（カメラは一時停止）
                        this.makeSound();               // 音を鳴らす
                        this.resetText();                // テキストをリセット
                        this.pauseVideo();

                        const canvas = this.$refs.cvs;
                        const canvasCamera = this.$refs.canvas;
                        const context = canvas.getContext('2d');
                        canvas.width = canvasCamera.width;
                        canvas.height = canvasCamera.height;
                        context.drawImage(this.video, 0, 0, canvas.width, canvas.height);

                        // Update this.snapshot with new image data
                        this.snapshot = canvas.toDataURL();
                        this.drawCanvas(canvas.width / 4, canvas.height / 4);
                    },
                    makeSound() { // ④ おまけ：スナップショットをとるときに音をならす
                        document.querySelectorAll('.notification-iframe').forEach(el => el.remove()); // 全ての通知用 iFrame を削除
                        // soundタグは使わず iFrame で直接音声ファイルへアクセスする
                        const iFrame = document.createElement('iframe');
                        iFrame.setAttribute('src', '/audios/insight.ogg');
                        iFrame.setAttribute('allow', 'autoplay');
                        iFrame.style.display = 'none';
                        iFrame.className = 'notification-iframe';
                        document.body.appendChild(iFrame);
                    },
                    resetText() {
                        document.getElementById('result_str').innerHTML = "";
                    },
                    // handle mouse events
                    scaling() {
                        this.v = this.scale * 0.01;
                        this.drawCanvas(this.ix, this.iy);
                    },
                    drawCanvas(x, y) {
                        this.storeX = x;
                        this.storeY = y;
                        const image = new Image();
                        image.onload = () => {
                            const canvasCamera = this.$refs.canvas;
                            const cvs = this.$refs.cvs;
                            cvs.width = this.SNAPSHOT_SIZE_X;
                            cvs.height = this.SNAPSHOT_SIZE_Y;
                            const ctx = cvs.getContext('2d');
                            ctx.fillStyle = 'rgb(200, 200, 200)';
                            ctx.fillRect(0, 0, cvs.width, cvs.height);

                            ctx.drawImage(image, 0, 0, canvasCamera.width * 2, canvasCamera.height * 2, (cvs.width / 2) - x * this.v, (cvs.height / 2) - y * this.v, canvasCamera.width * this.v, canvasCamera.height * this.v);

                            ctx.strokeStyle = 'rgba(200, 0, 0, 0.8)';
                            ctx.strokeRect((cvs.width - this.$refs.out.width) / 2, (cvs.height - this.$refs.out.height) / 2, this.$refs.out.width, this.$refs.out.height);
                        };
                        image.src = this.snapshot;
                    },
                    cropImg() {
                        const cvs = this.$refs.cvs; // Gets a reference to the source canvas
                        const ctx = cvs.getContext('2d');

                        // Coordinates and size of the red square
                        const x = (cvs.width - this.$refs.out.width) / 2;
                        const y = (cvs.height - this.$refs.out.height) / 2;
                        const width = this.$refs.out.width;
                        const height = this.$refs.out.height;

                        // Get the image data of the red square
                        const imageData = ctx.getImageData(x, y, width, height);

                        // Gets a reference to canvas 'out' and its context
                        const outCanvas = this.$refs.out;
                        const outCtx = outCanvas.getContext('2d');

                        // Set the size of the 'out' canvas relative to the cropped image (if needed)
                        outCanvas.width = width;
                        outCanvas.height = height;

                        // Draw cropped image to canvas 'out'
                        outCtx.putImageData(imageData, 0, 0);
                        this.dataUrl = outCanvas.toDataURL();
                    },
                    startDrag(ev) {
                        this.mouseDown = true;
                        this.sx = ev.pageX || ev.touches[0].pageX;
                        this.sy = ev.pageY || ev.touches[0].pageY;
                        // Disable scrolling
                        document.body.style.overflow = 'hidden';
                    },
                    dragging(ev) {
                        if (!this.mouseDown) return;
                        const x = ev.pageX || ev.touches[0].pageX;
                        const y = ev.pageY || ev.touches[0].pageY;
                        this.drawCanvas(this.ix + (this.sx - x) / this.v, this.iy + (this.sy - y) / this.v);
                        ev.preventDefault(); // Optionally prevent default if dragging is done by touch
                    },
                    endDrag(ev) {
                        if (!this.mouseDown) return;
                        this.mouseDown = false;
                        const x = ev.pageX || ev.changedTouches[0].pageX;
                        const y = ev.pageY || ev.changedTouches[0].pageY;
                        this.ix += (this.sx - x) / this.v;
                        this.iy += (this.sy - y) / this.v;
                        // Re-enable scrolling
                        document.body.style.overflow = '';
                    },
                    back() {
                        this.dataUrl = '';
                        this.playVideo();
                    },
                    activeCropSnapshot() {
                        if (!this.snapshot) {
                            return;
                        }
                        this.openSnapshot = !this.openSnapshot;
                    }
                },
                mounted() {
                    this.initialize();
                },
                watch: {
                    openSnapshot(newVal) {
                      if (newVal === true) {
                        this.$nextTick(() => {
                          this.drawCanvas(this.storeX, this.storeY);
                        });
                      }
                    }
                  }
            }).mount('#app');
        }



    </script>
</body>

</html>